.Footer{
    background: rgb(255,129,129);
    background: linear-gradient(180deg, rgba(255,129,129,1) 0%, rgba(34,34,34,1) 100%);
@apply w-full h-[400px] mt-[5rem] rounded shadow-xl border-4 border-[#ff8181] p-6
}
.Footer-Top{
    font-family: "Lalezar";
    @apply font-black text-[40px] text-[#555] my-[1rem] shadow-2xl p-2 border border-[#5555557d] rounded w-[300px]
}
.Footer-Des{
    @apply font-extrabold text-[23px] text-justify text-[#555]

}